/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* STYLE GUIDE GENERAL  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

html {
	scroll-behavior: smooth;
}

h1 {
    line-height: 51px;
}

h2 {
    line-height: 42px;
}

h3 {
    line-height: 38px;
}

h4 {
    line-height: 30px;
}

h5 {
    letter-spacing: 1px;
}

.bfg {
    color: #5057C9;
}
.bfg-primary-color{
 background-color: #5057C9;
}

.wp-block-button__link {
	min-width: 200px;
}

p.small {
	font-size: 14px;
	line-height: 20px;
	color: inherit;
	margin-bottom: 1rem;
}

.big {
    font-size: 19px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* MAIN MENU  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

a.user-link {
    color: #ffffff !important;
}


/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* BLOCKS  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/


/********************************************************************************************************************************/
/* DARK BLOCKS  */
/********************************************************************************************************************************/

.dark h1,.dark h1 a,.dark h1 a:hover{color:#ffffff !important}
.dark h2,.dark h2 a,.dark h2 a:hover{color:#ffffff !important}
.dark h3,.dark h3 a,.dark h3 a:hover{color:#ffffff !important}
.dark h4,.dark h4 a,.dark h4 a:hover{color:#ffffff !important}
.dark h5,.dark h5 a,.dark h5 a:hover{color:#ffffff !important}
.dark h6,.dark h6 a,.dark h6 a:hover{color:#ffffff !important}
.dark p,.dark p a,.dark p a:hover,.dark a.content_link .title{color:#ffffff !important}


/********************************************************************************************************************************/
/* FAQS  */
/********************************************************************************************************************************/

.my-faq .uagb-faq-item .uagb-faq-questions-button.uagb-faq-questions {
    background-color: #5057C9;
}

.my-faq .uagb-faq-item .uagb-question {
    color: #ffffff;
}

.my-faq .uagb-faq-item:hover .uagb-question {
    color: #ffffff;
}

.my-faq  .uagb-faq-item.uagb-faq-item-active .uagb-question {
    color: #ffffff;
}


/********************************************************************************************************************************/
/* TESTIMONIAL BLOCKS  */
/********************************************************************************************************************************/

.uagb-slick-carousel ul.slick-dots li button {
	box-shadow: none;
}

.uagb-slick-carousel ul.slick-dots li button:after {
	background: none;
}

/********************************************************************************************************************************/
/* COURSES BLOCK  */
/********************************************************************************************************************************/

.row-courses .uagb-column__inner-wrap {
	padding: 0px;
}

.row-courses .wp-block-image {
	margin-bottom: 10px;
}

.row-courses .info {
	padding: 0 15px 15px;
}

.row-courses .info h6 {
    margin-top: 20px;
	margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
}

.row-courses .info h4 {
	font-size: 22px;
	line-height: 26px;
    margin-bottom: 10px;
}

.row-courses .info p.small {
	font-size: 13px;
    line-height: 18px;
}

/********************************************************************************************************************************/
/* PRICES BLOCK  */
/********************************************************************************************************************************/

.my-box-price .wp-block-group__inner-container {
    background-color: #f8f8f8;
    max-width: 350px !important;
    margin: 0 auto;
    padding: 35px 30px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.06);
}

.my-box-price .wp-block-group__inner-container h2 {
    font-weight: 500;
    margin-bottom: 0px;
}

.my-box-price .wp-block-group__inner-container h4 {
    margin-bottom: 20px;
}

.my-box-price .wp-block-group__inner-container p {
    margin-bottom: 15px;
}

.my-box-price.dark .wp-block-group__inner-container {
    background-color: #5057C9 !important;
    box-shadow: 0 3px 8px 2px rgb(145 123 193 / 30%);
}

.uagb-icon-list__outer-wrap .uagb-icon-list__content-wrap span.uagb-icon-list__source-wrap {
	margin-top: 4px;	
}

/********************************************************************************************************************************/
/* WIKI BLOCK  */
/********************************************************************************************************************************/

.row-wiki .uagb-column__wrap {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.row-wiki .uagb-column__wrap:hover {
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.06);
}

.row-wiki .uagb-column__inner-wrap {
    padding: 0px;
}

.row-wiki .uagb-column__inner-wrap .wp-block-image {
    background-color: #5057c9;
    margin-bottom: 30px;
}

.row-wiki .cat-2 .uagb-column__inner-wrap .wp-block-image {
    background-color: #86D1CB;
}

.row-wiki .cat-3 .uagb-column__inner-wrap .wp-block-image {
    background-color: #F46F55;
}

.row-wiki .uagb-column__inner-wrap .wp-block-image figure {
    padding: 15px;
    max-width: 180px;
}

.row-wiki .info {
    padding: 0 15px;
}

.row-wiki .info h4 {
    margin-bottom: 115px;
}

.row-wiki .info .wp-block-buttons {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* LOGIN PAGE  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

#login {
	width: 500px !important;
	padding: 70px 100px !important;
	background-color: #ffffff !important;
	margin: 0 3% !important;
	border-radius: 8px !important;
	box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18) !important;
}

#login h1 {
	position: absolute !important;
	top: -75px !important;
	left: 50% !important;
	-webkit-transform: translateX(-50%) !important;
	transform: translateX(-50%) !important;
}

@media screen and (max-width: 991px) {
	#login {
		width: 500px !important;
	    padding: 70px 50px !important;
	    background-color: #ffffff !important;
	    margin: 0 auto !important;
	    border-radius: 8px !important;
	    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18) !important;
	    max-width: 90%;
	    margin-top: 120px !important;
	}
	#login h1 {
		position: absolute !important;
		top: 50px !important;
		left: 50% !important;
		-webkit-transform: translateX(-50%) !important;
		transform: translateX(-50%) !important;
	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* THANK YOU PAGE  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.welcome-info {
    background-color: #ffffff;
    padding: 80px 50px 30px;
    margin-top: -75px;
    border-radius: 8px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18);
}

.welcome-info .welcome-gif img {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0px 4px 5px 0px #dddddd;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* UNATHORIZED PAGE  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.mepr-login-page .entry-header {
    display: none;
}

.mepr-login-page .mp_wrapper.mp_login_form {
    max-width: 500px;
    margin-top: 40px;
}

.mepr-login-page .mp_login_form #mepr-unauthorized-for-resource {
    display: none;
}

.mepr-login-page .mp_wrapper.mp_login_form .mepr-login-actions {
    top: inherit;
    bottom: 0;
}

.mepr-login-page .mp_wrapper.mp_login_form .my-message .my-content {
	background-color: #ffffff;
    padding: 100px 40px 20px;
    margin-top: -125px;
    border-radius: 8px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18);
    margin-bottom: 30px;
}

.mepr-login-page #mepr_loginform, .mepr-login-page .mp-spacer, .mepr-login-page .mepr-login-actions {
	display: none;
}


.mepr-login-page .mp_wrapper {
    max-width: 500px;
    margin-top: 40px;
}

.mepr-login-page .mepr-unauthorized-message .my-message .my-content {
	background-color: #ffffff;
    padding: 100px 50px 30px;
    margin-top: -100px;
    border-radius: 8px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18);
}

.mepr-login-page .mepr-login-form-wrap {
	display: none;
}

.mepr_error>div.my-message>p>img {
    max-width:150px;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* MEMBERS PAGE  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.members .entry-header {
	display: none;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* CONTACT PAGE  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

#wpforms-form-427 .wpforms-field-description {
	background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #444;
    padding: 15px 15px 0;
    margin-top: 15px;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    line-height: 16px;
}

#wpforms-form-427 .wpforms-field-description p {
	margin-bottom: 10px;
}

#wpforms-form-427 .wpforms-submit-container {
	text-align: right;
}

#wpforms-form-427 button[type=submit] {
	border-radius: 6px;
    min-width: 200px;
    background-color: #5057C9;
    border: 1px solid #5057C9;
}

/* Ocultar icono de reCaptcha v3 */
.grecaptcha-badge{
	visibility: collapse !important;  
}


/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* USER DASHBOARD  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.my-dash-links .bb-dash-grid__block .bb-dash-grid__image img {
    margin-top: 0;
}

.dash-latest-news .elementor-widget-wrap {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #E7E9EC;
    border-radius: 4px;
}

.dash-latest-news .elementor-widget-container > h5 {
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #4d57cb;
}

.dash-latest-news .elementor-widget-container .bb-recent-posts .entry-media.entry-img {
    max-width: 21.43%;
    width: 21.43%;
}

.dash-latest-news .bb-recent-posts h4 a.bb-title {
    font-size: 20px;
}

.dash-members .bb-block-header__title  h3 {
    font-size: 24px;
}


/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* USER PROFILE  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.field_idiomas .checkbox-options .bp-checkbox-wrap {
    display: inline-block;
    width: 33%;
}

.field_idiomas .checkbox-options .bp-checkbox-wrap label {
    margin-top: 0px;
}

.field_ods .checkbox-options .bp-checkbox-wrap {
    display: inline-block;
    width: 50%;
}

.field_ods .checkbox-options .bp-checkbox-wrap label {
    margin-top: 0px;
}

.field_habilidades .checkbox-options .bp-checkbox-wrap {
    display: inline-block;
    width: 33%;
}

.field_habilidades .checkbox-options .bp-checkbox-wrap label {
    margin-top: 0px;
}

#buddypress .profile.edit>#profile-edit-form .editfield {
    margin-bottom: 40px;
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
	background-color: #ffffff;
}

#mepr-account-subscriptions-table td>div.mepr-account-actions>a.mepr-account-update {
    display: block;
    margin-bottom: 5px;
}

#mepr-account-subscriptions-table td {
    white-space: inherit;
}

.buddypress-wrap table.profile-fields tr.field_disponibilidad td.data p:after {
    content: " horas";
}

.member-header-actions #connect-to-slack {
    font-size: 12px !important;
    min-height: 30px !important;
    padding: 0 20px !important;
    line-height: 28px !important;
}

/* ODS  */
/********************************************************************************************************************************/

.profile-edit .select2-container .select2-dropdown {
    max-width: 400px;
}

.editfield.field_mis-ods p.description {
    margin-top: 10px !important;
}

.field_mis-ods ul {
    margin-left: 0;
}

.field_mis-ods ul li {
    list-style-type: none;
    display: inline;
}

.field_mis-ods ul li a {
    font-size: 0;
    pointer-events: none;
}

.field_mis-ods a[href*="ods-01"]:after {
    background: url("../images//ods-01.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-02"]:after {
    background: url("../images//ods-02.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-03"]:after {
    background: url("../images//ods-03.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-04"]:after {
    background: url("../images//ods-04.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-05"]:after {
    background: url("../images//ods-05.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-06"]:after {
    background: url("../images//ods-06.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-07"]:after {
    background: url("../images//ods-07.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-08"]:after {
    background: url("../images//ods-08.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-09"]:after {
    background: url("../images//ods-09.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-10"]:after {
    background: url("../images//ods-10.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-11"]:after {
    background: url("../images//ods-11.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-12"]:after {
    background: url("../images//ods-12.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-13"]:after {
    background: url("../images//ods-13.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-14"]:after {
    background: url("../images//ods-14.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-15"]:after {
    background: url("../images//ods-15.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-16"]:after {
    background: url("../images//ods-16.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods-17"]:after {
    background: url("../images//ods-17.png") no-repeat 0 0;
}

.field_mis-ods a[href*="ods"]:after {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    content: "";
    background-size: 100%;
}


/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* MEMBERSHIPS FORMS  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.form-membresia {
	background-color: #ffffff;
    padding: 80px 50px 30px;
    margin-top: -70px;
    border-radius: 8px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18);
}

.form-membresia h4 {
	margin-bottom: 5px;
}

.form-membresia h4.precio {
	font-weight: 600;
}

.form-membresia .mp-form-row.mepr_bold.mepr_price {
	display: none;
}

.form-membresia .mp_wrapper .mp-form-row label {
	margin-bottom: 0px;
	display: inline !important;
}

.form-membresia .mp_wrapper .mp-form-row {
	margin-bottom: 20px;
}

.form-membresia table.mp-table {
	font-size: 14px;
    margin-bottom: 0px;
}

.form-membresia .mp-form-submit {
	text-align: center;
}

.form-membresia .mp-form-submit input[type=submit] {
	min-width: 250px;
    border-radius: 6px;
}

p.advice-form {
    font-size: 13px;
    line-height: 18px;
    color: inherit;
    margin-bottom: .6rem;
}

.form-membresia .mp_wrapper .mepr-form-has-errors, .form-membresia .mp_wrapper .cc-error, .form-membresia .mp_wrapper .mepr-validation-error {
    font-size: 14px;
    font-style: italic;
}

.form-membresia div.mepr_first_name:before {
    content: "Datos personales";
    color: #5057C9;
    font-size: 18px;
}

.form-membresia .mepr_first_name>div.mp-form-label {
    padding-top: 10px;
}

.form-membresia div.mepr_mepr_nombre_de_empresa_para_factura:before {
    content: "¿Quieres factura?";
    color: #5057C9;
    font-size: 18px;
}

.form-membresia .mepr_mepr_nombre_de_empresa_para_factura>div.mp-form-label {
    padding-top: 10px;
}

.form-membresia div.mepr_username:before {
    content: "Alta como Nuevo Miembro";
    color: #5057C9;
    font-size: 18px;
}

.form-membresia .mepr_username>div.mp-form-label {
    padding-top: 10px;
}

.form-membresia a.have-coupon-link:before, .form-membresia div.mepr_coupon:before {
    content: "Datos de pago";
    color: #5057C9;
    font-size: 18px;
    display: block;
    padding-bottom: 10px;
}

.form-membresia a.have-coupon-link {
    font-size: 14px;
}

.form-membresia .mepr_mepr-address-zip {
    border-bottom: 2px solid #d4d2ff;
    padding-bottom: 30px;
}

.form-membresia .mepr_mepr_cif_empresa_para_factura {
    border-bottom: 2px solid #d4d2ff;
    padding-bottom: 30px;
}
.form-membresia .mp-password-strength-area {
    border-bottom: 2px solid #d4d2ff;
    padding-bottom: 30px;
}

.mepr_tos {
    line-height: 18px;
}

.mepr_tos a {
    pointer-events: none;
    color: #000000;
    font-size: 13px;
}


/* Fortaleza contraseña  */
/********************************************************************************************************************************/

.form-membresia .mp-nopass {
    background: #EEEEEE;
    border: none;
    color: #707071;
    width: 180px;
    font-size: 14px;
}

.form-membresia .mp-weakpass {
    background: #D81E00;
    border: none;
    color: #ffffff;
    width: 180px;
    font-size: 14px;
}

.form-membresia .mp-mediumpass {
    background: #1ab073;
    border: none;
    color: #ffffff;
    width: 180px;
    font-size: 14px;
}

.form-membresia .mp-strongpass {
    background: #5AD869;
    border: none;
    color: #ffffff;
    width: 180px;
    font-size: 14px;
}


/* Ocultamos la línea 2 de Dirección  */
/********************************************************************************************************************************/

.form-membresia .mepr_mepr-address-two {
    display: none;
}

/* Ocultamos la selección del tipo de usuario  */
/********************************************************************************************************************************/

.form-membresia .mepr_mepr_vat_customer_type {
    display: none !important;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* PROJECTS FORMS  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.form-new-project .elementor-widget-wrap {
	max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 90px 40px 20px;
    margin-top: -90px;
    border-radius: 8px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18);
}

.form-new-project .acf-form-submit {
	margin-top: 30px;
}

.form-new-project .acf-form-submit input[type=submit] {
	margin: 0 auto;
    min-width: 200px;
    border-radius: 6px;
}

.form-new-project-img {
	z-index: 9;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* PROJECTS FILTERS  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.bfg-ods-filter .bfg-block-ods {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-left: 21px;
}

/*
.bfg-ods-filter .bfg-block-ods .bfg-filter-button-ods {
    margin: 0 18px 5px;
}
*/

@media screen and (max-width: 500px) {
    .bfg-ods-filter .bfg-block-ods {
        flex-direction: column;
    }
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* EVENTOS  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

h1.tribe-events-page-title, h2.tribe-events-page-title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 46px;
    text-align: center;
    color: #5057C9;
}

/* VISTA LISTA  */
/********************************************************************************************************************************/

.tribe-events-event-image {
    position: relative;
    overflow: hidden;
}

.tribe-events-category-privado div.tribe-events-event-image:before {
    content: "Privado";
    position: absolute;
    z-index: 9;
    text-transform: uppercase;
    background-color: #e60000;
    padding: 0 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 150px;
    font-size: 14px;
    top: 20px;
    right: -40px;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
    color: #ffffff;
}

.tribe-events-category-publico div.tribe-events-event-image:before {
    content: "Público";
    position: absolute;
    z-index: 9;
    text-transform: uppercase;
    background-color: #5ca900;
    padding: 0 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 150px;
    font-size: 14px;
    top: 20px;
    right: -40px;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
    color: #ffffff;
}

/* VISTA CALENDARIO */
/********************************************************************************************************************************/

.events-archive.events-gridview .tribe-events-category-bfg-talks {
    background-color: #fb856f !important;
}

.events-archive.events-gridview .tribe-events-category-bfg-talent {
    background-color: #97ddda !important;
}

.events-archive.events-gridview .tribe-events-category-bfg-basic {
    background-color: #fa7121 !important;
}

.events-archive.events-gridview .tribe-events-category-bfg-mentoring {
    background-color: #AFEB87 !important;
}

.events-archive.events-gridview .tribe-events-category-bfg-talks h3 a, .events-archive.events-gridview .tribe-events-category-bfg-talent h3 a, .events-archive.events-gridview .tribe-events-category-bfg-basic h3 a, .events-archive.events-gridview .tribe-events-category-bfg-mentoring  h3 a {
    color: #000000 !important;
} 

.events-archive.events-gridview div.tribe-events-category-privado, .events-archive.events-gridview div.tribe-events-category-publico {
    padding-top: 13px !important;
}

.events-archive.events-gridview div.tribe-events-category-privado:before {
    content: 'Privado';
    color: #ffffff;
    background-color: #e60000;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: -9px;
    left: 5px;
    line-height: 10px;
    border: 2px solid #ffffff;
}

.events-archive.events-gridview div.tribe-events-category-publico:before {
    content: 'Público';
    color: #ffffff;
    background-color: #5ca900;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: -9px;
    left: 5px;
    line-height: 10px;
    border: 2px solid #ffffff;
}

.single-tribe_events .cat_privado .mepr_error {
    display: none;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* CUSTOM POST STYLES  */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

.updated {
    color: #fff;
    background-color: #28cf8b;
    padding: 0 0 0 24px;
    margin-top: 9px;
}

.bfg-wrapper-container {
	max-width: 1200px;
	margin: 0 auto;
    padding-bottom: 40px;
}
.bfg-flex-grap{
  flex-wrap: wrap;
}
.bfg-justify-content-center{
  justify-content: center;
}
.bfg-mb-5{
  margin-bottom: 10px;
}

.bfg-mt-5{
  margin-top: 50px !important;
}

.bfg-mb-9{
  margin-bottom: 90px !important;
}

.page-template-page-sesiones-php #content {
    padding-left: 0;
    padding-right: 0;
}
.page-template-page-sesiones-php .container{
	max-width: none;
    padding: 0;
}
.page-template-page-sesiones-php .content-area {
    padding-top: 0;
    padding-bottom: 0;
}

.sesiones-template-default .bfg-wrapper-sesiones {
    margin: 70px auto;
}

.page-template-page-proyectos .container, .page-template-page-sesiones .container {
    padding: 0 10px;
}

.page-template-page-proyectos .wp-block-column>p {
	margin-bottom: 0px;
}

.page-template-page-proyectos .wp-block-column>div.mepr_error {
	display: none;
}

/* Ocultamos temporalmente el filtrado de proyectos */

.page-template-page-proyectos .bfg-nav-filter.nav-filter-proyectos {
    display: none;
}

.page-template-page-proyectos .pre-filter p.big {
    display: none;
}

/* Fin Ocultamos temporalmente el filtrado de proyectos */

.site-header-container, footer>div.container {
    max-width: 100%;
}
.btn-filter-mobile,
.bfg-filter-nav-mobile{
    display: none;
}

@media screen and (max-width: 991px) {
    .bfg-grid{
        display: block;
    }
    .bfg-block {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .btn-filter-mobile,
    .bfg-filter-nav-mobile{
        position: relative;
        display: flex;
    }
}

.bfg-profile-author span {
    font-size: 13px;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* FOOTER */
/********************************************************************************************************************************/
/********************************************************************************************************************************/

#page .footer-bottom {
    padding-top: 40px;
}

.bb-footer .footer-desc, .bb-footer .copyright {
    color: #ffffff;
}


.toc-scroll-link {
    scroll-margin-top: 120px;
}

.float-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #5057C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px #afafaf;
}

.float-button i {
    font-size: 32px;
    margin-top: 14px;
    color: #ffffff;
}
.bfg-sticky-section {
    position: relative;
    background: #4d57cb;
    padding: 70px 0;
}
.bfg-sticky-section h3,
.bfg-sticky-section p{
	color: white !important;
}
.bfg-sticky-section:after {
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    width: 20px;
    height: 100%;
    background: #4d57cb;
}
.bfg-sticky-section:before{
    content: '';
    position: absolute;
    top: 0;
    right: -13px;
    width: 20px;
    height: 100%;
    background: #4d57cb;
}

.bfg-sticky-section .uagb-columns__columns-1 {
    width: 609px;
    margin: 0 auto;
}
.post-70 .entry-header {
    display: none;
}

.bfg-button-slack{
    display: flex !important;
    align-items: center;
}
.bfg-button-slack i{
    margin-right: 6px;
}
.bfg-count-resultados{
width: 52%;
display: flex;
justify-content: center;
min-height: 27px;
text-align: center;
}
.bfg-total-resultados span{
position: relative;
display: inline-block;
width: 100%;
}
.bfg-list-item{
position: relative;
width: 49%;
display: flex;
}
.bfg-list-item a{
width: 100%;
}
.bfg-list-item a .bfg-header-cover-sesiones{
width: 100%;
}

.bfg-list-item{
    width: 100%;
}
.bfg-slick-slider .bfg-list-item{
    width: 49%;
}

.bfg-shortcode-container h3{
    margin-bottom: 15px !important;
}

/* Botón Slack */

a#connect-to-slack {
    color: #5057C9;
}

a#connect-to-slack:hover {
    color: #3F46AD;
}

/* Banner Proyectos */

.banner-proyecto {
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 98%;
    margin-left: -10px !important;
}

.banner-proyecto p {
    margin-bottom: 0;
}

.cc-center.cc-revoke {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.page-template-page-proyectos .bfg-wrapper-hero-proyectos .mepr_error {
    display: none;
}

.bfg-sticky-section .bfg-image-center {
    max-width: 250px;
    margin: 0 auto;
}

.bfg-sticky-section .wp-block-button > a {
    background-color: #ffffff;
}

@media screen and (min-width: 768px) {
    .page-template-page-proyectos .bfg-sticky-section {
        display: none;
    }
}
/* MIS INTERESES (PERFIL) */

.editfield.field_mis-intereses p.description {
    margin-top: 10px !important;
}

.profile-fields .field_mis-intereses ul {
    margin-left: 5px;
}

.profile-fields .field_mis-intereses ul li {
    list-style-type: none;
    display: inline;
    border: 1px solid #5057c9;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 13px;
    margin-right: 5px;
}